{
  "trailingComma": "es5",
  "singleQuote": false,
  "semi": true,
  "importOrder": ["^@?xstate/?(.*)$", "^@patternfly/(.*)$", "^@bf2/(.*)$", "^@rhoas/(.*)$", "^[./]"],
  "importOrderSeparation": true
}