.processor-edit__page-section {
  --processor-edit--spacing: var(--pf-global--spacer--lg);
  position: relative;
}

.processor-edit__form {
  max-width: 800px;
  padding: var(--processor-edit--spacing);
}

.processor-edit__form__notice {
  margin-top: var(--pf-global--spacer--3xl);
}

.processor-edit__form .pf-c-tile:active,
.pf-c-tile.pf-m-selected {
  --pf-c-tile--TranslateY: 0;
}

.processor-edit__transformation-template.processor-field-error {
  border-bottom-color: var(--pf-global--danger-color--100);
  border-bottom-style: solid;
  border-bottom-width: var(--pf-global--BorderWidth--md);
}

.processor-edit__transformation-template__helper-text {
  margin-top: -20px;
}
