.sticky-actions__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sticky-actions__outer-wrap,
.sticky-actions__inner-wrap {
  min-height: 0;
}

.sticky-actions__content-wrap {
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;
}

.sticky-actions__actions {
  margin: 0 var(--pf-global--spacer--lg);
  padding: var(--pf-global--spacer--lg) 0;
  width: 100%;
  border-top: 1px solid var(--pf-global--BorderColor--100);
}
