.instance-page__tabs .pf-c-tabs__item.pf-m-current .pf-c-tabs__item-text {
  color: var(--pf-c-tabs__scroll-button--hover--Color);
}

.instance-page__actions .pf-c-dropdown__menu {
  min-width: 13rem;
}

/* making the error handling PF tab fill the available vertical space*/
#instance-page__tabs-error-handling {
  flex-grow: 1;
  height: 100%;
}
