.instance-page__tabs .pf-c-tabs__item.pf-m-current .pf-c-tabs__item-text {
  color: var(--pf-c-tabs__scroll-button--hover--Color);
}

.instance-page__actions .pf-c-dropdown__menu {
  min-width: 13rem;
}

.instance-page__tabs-error-handling__section {
  min-height: 37rem;
}

.error-handling-edit__actions {
  padding: var(--pf-global--spacer--lg) 0;
  width: 100%;
  border-top: 1px solid var(--pf-global--BorderColor--100);
}
