.processor-detail__filters,
.processor-detail__transformation-template {
  max-width: 50rem;
}

.processor-detail__derived-title {
  text-transform: capitalize;
}

.processor-detail__property--not-set {
  color: var(--pf-global--Color--200);
}

.processor-detail__alert {
  max-width: 800px;
}
